.header {
    background-color: #3f414f;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.nav_button {
    background-color: #2f3239;
    color: white;
    padding: 25px 50px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
}

.list-item {
    float: left;
    list-style: none;
}

/* set hover color for list item */
.list-item a:hover {
    background-color: #282c35;
}


.list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f3239;
    box-shadow: unset;
}

body {
    background-color: #222329;
    color: white;
    font-family: sans-serif
    
}
