.header {
    background-color: #3f414f;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.nav_button {
    background-color: #2f3239;
    color: white;
    padding: 25px 50px;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    text-decoration: none;
}

.proj_nav_button {
    background-color: #4a4e56;
    color: white;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
}

.list-item {
    float: left;
    list-style: none;
}

/* set hover color for list item */
.list-item a:hover {
    background-color: #282c35;
}

.proj-nav-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #484b53;
    box-shadow: unset;
}

.nav-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f3239;
    box-shadow: unset;
}

body {
    background-color: #222329;
    color: white;
    font-family: sans-serif
    
}

.page-title {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    font-weight: bold;
}

.portrait-image {
    width: 25%;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.flex-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.about-me-list {
    font-size: 30px;
    list-style-type: square;
    padding-left: 25px;
    margin: 0;
}

.proj-nav-button-selected {
    background-color: #222329;
    color: white;
    /* border: 4px solid #2f3239; */
}

.proj-header {
    color: white;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}